{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <tbody>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Opis</th>
            <th>Edytuj</th>
            <th>Usuń</th>
            {% for conntact in conntacts %}
            <tr>
                <td><a href="{{ path('app_conntact_show', {'id':conntact.id}) }}">{{ conntact.name }}</a></td><td><a href="{{ path('app_conntact_show', {'id':conntact.id}) }}"> {{ conntact.surname }}</a> </td><td> {{ conntact.description }} </td>
                <td><form action="{{ path('app_conntact_modify', {'id':conntact.id}) }}"><button type="submit">Edytuj</button></form></td>
                <td><form action="{{ path('app_conntact_delete', {'id':conntact.id}) }}"><button type="submit">Usuń</button></form></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form method="GET" action="{{ path('app_conntact_new') }}">
        <button type="submit">Dodaj nowy kontakt</button>
    </form>
{% endblock %}